/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------  Mobile  ----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.mainUsers{
    font-family: "Roboto", sans-serif;
    margin-top: 63px;
    background-color: #EAEAEA;
    height: 1360px;

    .btnSearch{
        padding: 3px 15px;
        margin-bottom: 5px;
        border-radius: 10px;
        color: white;
        background-color: #009fe3;
    }

    .flexAjax{
        display: flex;
        justify-content: center;
        h3{
            padding: 5px;
        }
    }

    ul{
        margin-bottom: 0;
    }
    .usersList{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 525px;
        overflow: hidden;
        h4{
            color: white;
            background-color: #009fe3;
            text-align: center;
            padding: 20px;
            margin-bottom: 0;
        }
        .inputStyle{
            background-color: #333333;
            display: flex;
            padding: 10px;
            .fas{
                font-size: 30px;
                color: white;
            }
        }
        #userSearch{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            padding: 5px;
        }
    }

    .bigList{
        overflow: auto;
        li{
            border-bottom: 2px solid #4e4e4e;
            padding: 10px 0 0 10px;
            list-style: none;

            a{
                color: #009fe3;
                text-decoration: none;
            }
        }
    }

    .usersCount{
        background-color: white;
        text-align: center;
        padding: 30px;
        margin-top: 25px;
        h4{
            color: #009fe3;
        }
    }

    .singleUserCard{
        
        width: 325px;
        height: 175px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        padding: 15px;
        margin-top: 25px;
        margin-bottom: 30px;

        li{
            list-style: none;
            margin-bottom: 10px;

            h5{
                color: #009fe3;
            }
        }
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------  Tablet  ----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px){
    .mainUsers{
        padding-top: 50px;
        
        .usersList{
            max-width: 700px;
            height: 650px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;

            h4{
                margin-bottom: 0;
            }

            .bigList{
                    height: 650px;

                li{
                    margin: 20px;
                    border: 2px solid #EAEAEA;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    transition: transform 0.4s;
                }

                li:hover{
                    transform: scale(1.02);
                }
            }

        }
        .singleUserCard{
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .timeStamps{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------  Desktop  ----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------          ----------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 940px){
    .mainUsers{
        display: flex;
        justify-content: space-around;

        .usersList{
            width: 45%;
        }

        .countInfo{
            width: 600px;

            .usersCount{
                width: 90%;
            }
            .singleUserCard{
                width: 90%;
                margin-right: 60px;
                
            }
        }
    }
}